#
# If all files excluded and you will include only specific sub-directories
# the parent path must matched before.
#

/**
!/.gitignore

!/advdupe2/
!/advdupe2/**

!/starfall/
!/starfall/**

!/expression2/
!/expression2/**

/expression2/_autosave_.txt
/expression2/_helloworld_.txt
/expression2/_new_.txt
/expression2/_shutdown_.txt
/expression2/_tabs_.txt

